mixin technology()
	+b.technology&attributes(attributes)
		h3.wings.wings_top сайт школы онлайн образования
		+e.UL.list 
			+e.Li.item
			+e.Li.item
			+e.Li.item
		+e.A.go-to-site.link.btn(href='#') Посмотреть сайт
