.copyright
	display block
	p
		margin-bottom 15px
		color $c_white
		font-family $base-font
		font-size 1rem
		font-weight 300
		line-height 1rem
		@media mqSmartphone
			font-size 0.813rem
			line-height 1.5rem
	.heart
		font inherit
		color red
