.navigation
	display block
	&_intro
		border-radius 5px
	&__list
		&_intro
			display -webkit-flex
			display -ms-flex
			display flex
			justify-content space-between
			background-color $c_green
			border-radius 0 0 5px 5px
		&_footer
			display -webkit-flex
			display -ms-flex
			display flex
	&__item
		&_intro
			min-height 45px
			background-color $c_green
			&:last-child
				border-radius 0 0 5px 0
				a
					border-right none
			&:first-child
				border-radius 0 0 0 5px
			&:hover
				background-color $c_green-hover
			a
				padding-left 31px
				padding-right 31px
				color $c_white
				font-family $base-font
				font-size 1rem
				font-weight 500
				line-height 45px
				border-right 2px solid rgba(222,227,231,.5)
		&_footer
			margin-right 41px
			&:last-child
				margin-right 0
			a
				color $c_white
				font-family $base-font
				font-size 1rem
				font-weight 500
				line-height 1.5rem
				&:hover
					text-decoration underline
