mixin navigation(obj)
	+b(class='navigation_#{obj.modifier}')&attributes(attributes)
		+e.UL(class='list_#{obj.modifier}')
			- each val, key in obj.menu
				+e.LI(class='item_#{obj.modifier}')
					+e.A.link.link(href= val)= key
