.map
	min-height rem(830px)
	max-width rem($page-width)
	margin 0 auto
	background url(../images/map-1800.jpg) no-repeat
	background-size cover
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		padding-top 345px
