.intro
	width 23.75rem
	min-height 24.688rem
	margin auto
	background-color #fff
	text-align center
	border-radius 5px
	&__inner
		padding-top 37px
	&__img-wrapper
		width 147px
		height 147px
		margin 0 auto
		margin-bottom 17px
		border-radius 50%
		overflow hidden
	&__name
		margin-bottom 10px
		font-family $base-font
		font-size 1.75rem
		font-weight 500
		line-height 2.125rem
		color $c_grey
	&__description
		margin-bottom 35px
		font-family $base-font
		font-size 1rem
		font-weight 400
		opacity 0.8
		color $c_grey
