include /blocks/socials/socials
include /blocks/navigation/navigation
include /blocks/author-photo/author-photo
mixin intro()
	+b.SECTION.intro&attributes(attributes)
		+e.inner
			+author-photo
			+e.name Вадим Новаш
			+e.description Личный сайт веб-разработчика
			+socials({modifier:'intro',
								name1:'vk',
								name2:'github',
								name3:'in'
							})
			+navigation({modifier:'intro',
									menu:{'Мои работы':'works.html',
												'Обо мне':'about.html',
												'Блог':'blog.html'
											}
									})
