@font-face {
  font-family: 'Web font';
  src: url('webfont.woff2') format('woff2'),
       url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */
       url('webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//for different font-styles & urls
@font-face {
  font-family: 'Web font';       /* название одно */
  src: url('webfont8321.woff2'); /* разные файлы */
  font-weight: 400;              /* разная плотность */
  font-style: normal;
}

@font-face {
  font-family: 'Web font';       /* название одно */
  src: url('webfont___1.woff2'); /* разные файлы */
  font-weight: 700;              /* разная плотность */
  font-style: normal;
}
