//fonts
$base-font= 'Roboto', 'Arial', sans-serif
$h-font = 'Bernier', 'Arial', sans-serif
//page sizes

$page-width = 1800px
$content-width = 1200px - 16
//colors
$c_white = #fff
$c_green = #00bfa5
$c_green-hover = #009688
$c_alert = #e44845
$c_grey = #455a64
$c_grey-hover = #373e42
$c_link = #6da3bd
