mixin blog-navigation()
	+b.ASIDE.blog-navigation&attributes(attributes)
		+e.UL.list
			+e.LI.item
				+e.A.link._active.link(href='#') Самое важное в SASS
			+e.LI.item
				+e.A.link.link(href='#') Приемы в верстке, без которых не обходится ни один сайт
			+e.LI.item
				+e.A.link.link(href='#') Самый необходимый набор GULP плагинов
			+e.LI.item
				+e.A.link.link(href='#') Почему я выбрал Jade
				
