.page-header
	position relative
	max-width rem(1200px)
	margin 0 auto
	&__inner
		background url(../images/header-bg-1200.jpg)
		background-repeat no-repeat
		background-size cover
		&_about,
		&_works
			position relative
			min-height rem(620px)
			&:before,
			&:after
				position absolute
				content ''
				bottom 0
				right 0
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 125px 700px;
				border-color: transparent transparent #eeebdf transparent;
			&:before
				bottom 0
				left 0
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 125px 0 0 700px;
				border-color: transparent transparent transparent #efeee9;
		&_works
			&:before
				border-color transparent transparent transparent #faf8f0
			&:after
				border-color: transparent transparent #faf8f0 transparent;
		&_blog
			position relative
			margin-bottom 65px
			min-height 396px
			&:before,
			&:after
				position absolute
				content ''
				bottom 0
			&:after
				right 0
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 105px 620px;
				border-color: transparent transparent $c_white transparent;
			&:before
				left 0
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 105px 0 0 620px;
				border-color: transparent transparent transparent $c_white;

	&__top-row
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content space-between
		&_blog,
		&_about,
		&_works
			padding-left 30px
			padding-right 30px
		&_works,
		&_about
			margin-bottom 75px
		&_blog
			margin-bottom 18px
		svg
			fill $c_white
			opacity .5
			&:hover
				fill $c_white
				opacity 1
	&__nav-toggler
		margin-top 28px
		svg
			fill $c_white
		&_blog
			margin-top 25px
	&__bottom-row
		text-align center
	&__page-title
		color $c_white
		font-family $base-font
		font-size 2.188rem
		font-weight 500
		// line-height 3.5rem
		&_blog
			color $c_white
			font-family $h-font
			font-size 3.938rem
			font-weight 400
			line-height 3.5rem
	&__page-description
		margin-bottom 130px
		color $c_white
		font-family $base-font
		font-size 1rem
		font-weight 400
		line-height 1.5rem
		&_blog
			margin-bottom 0
	&__arrow
		z-index 5
		opacity .7
		cursor poiner
		svg
			fill $c_white
		&:hover
			opacity 1
