.page-header
	position relative
	max-width rem(1800px)
	width 100%
	margin 0 auto
	background url(../images/bg-1800.jpg)
	background-repeat no-repeat
	background-size cover
	&_about
		min-height rem(600px)
		@media mqTablet
			min-height rem(508px)
		@media mqSmartphone
			min-height rem(558px)
		&:after
			position absolute
			content ''
			bottom 0
			left 0
			right 0
			height 152px
			width 100%
			background url(../images/about-svg-triangle-bg.svg) no-repeat
			background-size 100% 100%
			@media mqTablet
				height 70px
				background url(../images/about-svg-triangle-bg-768.svg) no-repeat
				background-size 100% 100%
	&_works
		min-height rem(600px)
		@media mqTablet
			min-height rem(508px)
		@media mqSmartphone
			min-height rem(558px)
		&:after
			position absolute
			content ''
			bottom 0
			left 0
			height 155px
			width 100%
			background url(../images/works-svg-triangle-bg.svg) no-repeat
			background-size 100% 100%
			@media mqTablet
				height rem(70px)
	&_blog
		position relative
		min-height rem(396px)
		@media mqTablet
			min-height rem(508px)
		@media mqSmartphone
			min-height rem(558px)
		&:before
			position absolute
			content ''
			width rem(303px)
			height 208px
			left calc(50% - 150px)
			top calc(40%)
			background url(../images/blog_header.svg) no-repeat
			background-size 303px 208px
			opacity .07
			@media mqTablet
				width 242px
				height 166px
				top calc(40%)
			@media mqSmartphone
				width 152px
				height 104px
				left calc(50% - 76px)
				top calc(45%)
				background-size 152px 104px

		&:after
			position absolute
			content ''
			bottom 0
			height 155px
			width 100%
			background url(../images/blog-svg-triangle-bg.svg) no-repeat
			background-size 100% 100%
			@media mqTablet
				height 70px
			@media mqSmartphone
				height 40px
	&__inner
		&_works,
		&_about
			&:before
				position absolute
				width 65.277%
				min-height 314px
				top calc(50% - 157px)
				left calc(50% - 32.638%)
				content ''
				background url(../images/portfolio_header.svg) no-repeat
				opacity .1
				@media mqTablet
					display none
	&__top-row
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content space-between
		&_about,
		&_works
			padding-left 30px
			padding-right 30px
		&_works,
		&_about
			margin-bottom 75px
		&_blog
			margin-bottom 18px
		svg
			fill $c_white
			opacity .5
			&:hover
				fill $c_white
				opacity 1
	&__nav-toggler
		margin-top 28px
		svg
			fill $c_white
		&_blog
			margin-top 25px
	&__bottom-row
		position relative
		text-align center
		z-index 5
		&_blog
			.arrow
				visibility: hidden;
				@media mqTablet
					visibility visible
	&__page-title
		color $c_white
		font-family $base-font
		font-size 2.188rem
		font-weight 500
		// line-height 3.5rem
		@media mqSmartphone
			line-height 2.625rem
		&_blog
			color $c_white
			font-family $h-font
			font-size 3.938rem
			font-weight 400
			line-height 3.5rem
	&__page-description
		margin-bottom 130px
		color $c_white
		font-family $base-font
		font-size 1rem
		font-weight 400
		line-height 1.5rem
		opacity .8
		@media (max-width: 1180px)
			margin-bottom 70px
		@media mqSmartphone
			margin-bottom 150px
			font-size 0.875rem
			line-height 1.5rem
	&__arrow
		display inline-block
		vertical-align top
		cursor pointer
		opacity .7
		svg
			fill $c_white
		&:hover
			opacity 1
// .svg-bottom-bg-about
.bg-wrapper
	position absolute
	left 0
	bottom 5px
	height 155px
	width 100%
	// background url(../images/blog-svg-triangle-bg.svg) no-repeat
