mixin about-me()
	+b.SECTION.about-me&attributes(attributes)
		+e.H2.title.wings Обо мне
		+e.inner
			+e.img-wrapper
				picture
					source(media="(max-width: 320px)" srcset="http://placehold.it/320x275")
					img.image(src="http://placehold.it/450x390", alt="Это я")
			+e.B.title-description.wings Кто я
			+e.P.description-text Я веб разработчик из Новосибирска. Мне 35 лет.  Я занимаюсь разработкой современных сайтов и приложений.
				| Мне нравится делать интересные
				br
				|и современные проекты.
			+e.P.description-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите,
				br
				|как тут все класно и красиво.
			
