.about-me
	position relative
	clearfix()
	max-width 50%
	width 100%
	min-height 855px
	background #efeee9
	@media $tablet
		max-width initial
	&:before
		position absolute
		content ''
		left 2.777%
		top -25px
		width 357px
		height 125px
		background url(../images/about_header.svg) no-repeat 10%
		background-size contain
		opacity .06
		z-index 1
		@media (max-width: 1470px)
			left calc(50% - 175px)
	&__title
		float left
		width 300px
		padding-top 20px
		margin-left 5.555%
		color $c_grey-hover
		font-family $h-font
		font-size 3.938rem
		font-weight 400
		line-height 3.125rem
		text-align center
		@media (max-width: 1470px)
			float none
			margin-bottom 58px
			transform translateX(40%)
		@media (max-width: 1000px)
			transform translateX(20%)
		@media (max-width: 830px)
			transform translateX(10%)
		@media (max-width: 780px)
			transform translateX(5%)
		// @media (max-width: 1000px)
		// 	margin-right 5px
		// @media (max-width: 950px)
	&__inner
		float right
		max-width 53%
		padding-top 20px
		text-align center
		@media (max-width: 1470px)
			float none
			display -webkit-flex
			display -ms-flex
			display flex
			flex-direction column
			align-items center
			max-width: initial
			padding-top 0
		// @media $tablet

	&__img-wrapper
		max-width 440px
		margin-bottom 30px
		padding-left 20px
		@media (max-width: 930px)
			padding-left 10px
			padding-right 10px
	&__title-description
		margin-bottom 26px
		color $c_grey
		font-family $h-font
		font-size 2.188rem
		font-weight 400
		line-height 2.563rem
	&__description-text
		margin-bottom 11px
		padding-left 20px
		color $c_grey
		font-family $base-font
		font-size 1rem
		font-weight 400
		line-height 1.5rem
		text-align left
		@media (max-width: 1470px)
			max-width 440px
