.about-me
	position relative
	max-width 50%
	padding-left 60px
	padding-right 70px
	padding-bottom 30px
	background #efeee9
	&:before
		position absolute
		content ''
		top -125px
		left 0
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 125px 0 0 700px;
		border-color: transparent transparent transparent #efeee9;
	&__title
		margin-bottom 60px
		color $c_grey-hover
		font-family $h-font
		font-size 3.938rem
		font-weight 400
		line-height 3.125rem
		text-align center
	&__img-wrapper
		padding-left 20px
	&__title-description
		display block
		margin-top 21px
		margin-bottom 26px
		color $c_grey
		font-family $h-font
		font-size 2.188rem
		font-weight 400
		line-height 2.563rem
		text-align center

	&__description-text
		margin-bottom 11px
		padding-left 20px
		color $c_grey
		font-family $base-font
		font-size 1rem
		font-weight 400
		line-height 1.5rem
