.about-me
	position relative
	clearfix()
	max-width 50%
	width 100%
	min-height 855px
	background #efeee9
	@media (max-width: 768px)
		max-width initial
	@media mqSmartphone
		min-height rem(725px)
	&:before
		position absolute
		content ''
		left 4.777%
		top -25px
		width 357px
		height 125px
		background url(../images/about_header.svg) no-repeat 10%
		background-size 100% 100%
		opacity .06
		z-index 1
		@media (max-width: 1625px)
			left calc(50% - 175px)
		@media (max-width: 1350px)
			left 30%
		@media (max-width: 1030px)
			left 15%
		@media (max-width: 860px)
			left 10%
		@media (max-width: 800px)
			left 5%
		@media mqTablet
			top -5px
			left calc(50% - 124px)
			width 249px
			height 88px
		@media mqSmartphone
			top 0
			width 199px
			height 70px
			left (20%)
	&__title
		float left
		width 300px
		padding-top 20px
		margin-left 9.555%
		color $c_grey-hover
		font-family $h-font
		font-size 3.938rem
		font-weight 400
		line-height 3.125rem
		text-align center
		@media (max-width: 1625px)
			float none
			margin-bottom 58px
			transform translateX(55%)
		@media (max-width: 1200px)
			transform translateX(40%)
		@media (max-width: 1030px)
			transform translateX(20%)
		@media (max-width: 860px)
			transform translateX(10%)
		@media (max-width: 800px)
			transform translateX(2%)
		@media mqTablet
			font-size 3.063rem
			line-height 3rem
			margin-left 30%
		@media mqSmartphone
			margin-left 0
			margin-bottom 40px
			font-size 2.188rem
			line-height 2.625rem
	&__inner
		float right
		max-width 53%
		padding-top 20px
		text-align center
		@media (max-width: 1625px)
			float none
			display -webkit-flex
			display -ms-flex
			display flex
			flex-direction column
			align-items center
			max-width: initial
			padding-top 0
	&__img-wrapper
		max-width 450px
		min-height 390px
		margin-bottom 35px
		padding-left 20px
		@media (max-width: 930px)
			padding-left 10px
			padding-right 10px
		@media mqTablet
			padding-left 0
			padding-right 0
			max-width 472px
			min-height 415px
		@media mqSmartphone
			min-height 275px
			max-width 100%
			margin-bottom 30px
	&__title-description
		margin-bottom 26px
		color $c_grey
		font-family $h-font
		font-size 2.188rem
		font-weight 400
		line-height 2.563rem
		@media mqTablet
			font-size 1.875rem
			line-height 2.25rem
		@media mqSmartphone
			margin-bottom 18px
			font-size 1.313rem
			line-height 1.75rem
	&__description-text
		margin-bottom 11px
		padding-left 20px
		color $c_grey
		font-family $base-font
		font-size 1rem
		font-weight 400
		line-height 1.5rem
		text-align left
		@media (max-width: 1470px)
			max-width 440px
		@media mqTablet
			max-width 472px
		@media mqSmartphone
			padding-left 10px
			padding-right 10px
