include /blocks/technology/technology
mixin works()
	+b.SECTION.works&attributes(attributes)
		+e.inner
			+e.H2.title.wings мои работы
			+e.works-wrapper
				+technology()
				+e.presentation РАБОТЫ
					+e.UL.list
						+e.LI.item
						+e.LI.item
						+e.LI.item
				+b.controls Контролы
					+e.UL.list._left
						+e.LI.item 1
						+e.LI.item 2
						+e.LI.item 3
						+e.LI.item 4
					+e.UL.list._right
						+e.LI.item 1
						+e.LI.item 2
						+e.LI.item 3
						+e.LI.item 4
