.works
	position relative
	width 100%
	&:before
		position absolute
		top 0
		left calc(50% - 252px)
		content ''
		width 505px
		height 165px
		background url(../images/works_header.svg) no-repeat
		opacity .07
		z-index 1
	&__inner
		position relative
		max-width rem($page-width)
		padding-left 10px
		padding-right 10px
		padding-top 65px
		background-color #faf8f0
		text-align center
	&__title
		margin-bottom 70px
		color $c_grey-hover
		font-family $h-font
		font-size 3.938rem
		font-weight 400
		line-height 3.5rem
		text-align center
	&__works-wrapper
		display -webkit-flex
		display -ms-flex
		display flex
		margin-right -10px
		margin-left -10px
		min-height rem(745px)
		background-color #efebe0
	&__left-column
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		align-items center
		width 50%
		padding-left 10px
		background-color #f0efe9
		h3
			max-width 350px
			margin-bottom 35px
			color $c_grey
			font-family $h-font
			font-size 2.188rem
			font-weight 400
			line-height 2.563rem
			text-align center
	&__go-to-site
		width 200px
		min-height 45px
		color $c_white
		font-family $base-font
		font-size 1rem
		font-weight 500
		line-height 45px
		text-align center
		background-color $c_green
		border-radius 5px
		&:hover
			background-color $c_green-hover
	&__right-column
		width 50%
		padding-right 10px
.technology
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content center
	min-width rem(420px)
	margin-bottom 40px
	margin-top -10px
	padding-top 18px
	padding-bottom 18px
	color $c_green
	font-family $base-font
	font-size 1rem
	font-weight 500
	text-transform uppercase
	text-align center
	border-top 1px solid rgba(16,156,142,.3)
	border-bottom 1px solid rgba(16,156,142,.3)
