.works
	position relative
	width 100%
	&:before
		position absolute
		top 0
		left calc(50% - 252px)
		content ''
		width 505px
		height 165px
		background url(../images/works_header.svg) no-repeat
		background-size 100% 100%
		opacity .07
		z-index 1
		@media mqTablet
			width 404px
			height 132px
			left calc(50% - 202px)
		@media mqSmartphone
			width 253px
			height 83px
			left calc(50% - 125px)
	&__inner
		position relative
		max-width rem($page-width)
		padding-left 10px
		padding-right 10px
		padding-top 65px
		background-color #faf8f0
		text-align center
		@media mqSmartphone
			padding-top 25px
	&__title
		margin-bottom 70px
		color $c_grey-hover
		font-family $h-font
		font-size 3.938rem
		font-weight 400
		line-height 3.5rem
		text-align center
		@media mqTablet
			font-size 3.063rem
			line-height 3rem
		@media mqSmartphone
			font-size 2.188rem
			line-height 2.625rem
	&__works-wrapper
		position relative
		margin-right -10px
		margin-left -10px
		min-height rem(745px)
		background-color #efebe0
		clearfix()
		@media mqTablet
			display -webkit-flex
			display -ms-flex
			display flex
			flex-direction column
			min-height rem(1015px)
.presentation
	float right
	min-height rem(515px)
	width 50%
	@media mqTablet
		float none
		width 100%
		min-height rem(530px)
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
	&__list
		margin auto
	&__item
		max-width 650px
		max-height 440px
		overflow hidden
		display none
		&.active
			display block
.controls
	float right
	width 50%
	min-height rem(230px)
	@media mqTablet
		float none
		width 100%
		order 3
		min-height rem(215px)
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		min-height inherit
	&__display
		position relative
		height inherit
		width 100%
		overflow hidden
		cursor pointer
	&__list
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		li
			background-color rgba(136, 131, 114, 0.5)
			border-right 1px solid rgba(136, 131, 114, 0.7)
			&:before
				position absolute
				display inline-block
				content: ''
				top calc(50% - 15px)
				left calc(50% - 15px)
				transform translate(-50%, -50%)
				transform rotate(-45deg)
				width 30px
				height 30px
				background-color transparent
				border-left 10px solid #fff
				border-bottom 10px solid #fff
				opacity 1
				z-index 13
			&:after
				position absolute
				content ''
				left 0
				top 0
				right 0
				width 100%
				height 100%
				background-color inherit
				z-index 12
			&:hover
				&:before
					transform rotate(-45deg) scale(1.5)

		&_right
			li
				top 100%
				&:before
					transform rotate(135deg)
				&:hover
					&:before
						transform rotate(135deg) scale(1.5)
	&__item
		position absolute
		top -100%
		left 0
		width 100%
		height 100%
		background-repeat no-repeat
		background-size 100% 100%
		&.active
			top 0%
		img
			display block
			position absolute
			max-width 100%
			max-height 100%
			top 0
			right 0
			bottom 0
			left 0
			margin auto
