mixin works()
	+b.SECTION.works&attributes(attributes)
		+e.inner
			+e.H2.title.wings мои работы
			+e.works-wrapper
				+e.left-column
					h3.wings.wings_top сайт школы онлайн образования
					+b.UL.technology 
						+e.Li.item html
						+e.Li.item css
						+e.Li.item javascript
					+e.A.go-to-site.link.btn(href='#') Посмотреть сайт
				+e.right-column
					+e.presentation
						+e.UL.list
							+e.LI.item
							+e.LI.item
							+e.LI.item
					+e.controls
						.prev
						.next
