include /blocks/technology/technology
mixin works()
	+b.SECTION.works&attributes(attributes)
		+e.inner
			+e.H2.title.wings мои работы
			+e.works-wrapper
				+technology()
				+e.presentation РАБОТЫ
					+e.UL.list
						+e.LI.item
						+e.LI.item
						+e.LI.item
				+e.controls Контролы
					.prev
					.next
