include /blocks/technology/technology
mixin works()
	+b.SECTION.works&attributes(attributes)
		+e.inner
			+e.H2.title.wings мои работы
			+e.works-wrapper
				//- +technology
				//- +b.presentation
				//- 	+e.inner
				//- 		+e.UL.list
				//- +b.controls
				//- 	+e.inner
				//- 		+e.display._left
				//- 			+e.UL.list._left
				//- 				
				//- 		+e.display._right
				//- 			+e.UL.list._right
								
