mixin slide-nav()
	+b.slide-nav&attributes(attributes)
		nav
			+e.UL.fullscreen-menu
				+e.LI.item
					+e.A.link(href='works.html') Мои работы
				+e.LI.item
					+e.A.link(href='about.html') Обо мне
				+e.LI.item
					+e.A.link(href='blog.html') Блог
		
