include /blocks/socials/socials
include /blocks/navigation/navigation
include /blocks/copyright/copyright
mixin footer()
	+b.FOOTER.page-footer&attributes(attributes)
		+e.inner
			+e.top-row
				+navigation({modifier:'footer',
										menu:{'Мои работы':'works.html',
													'Обо мне':'about.html',
													'Блог':'blog.html',
													'Авторизация':'login.html'
												}
										})
				+socials({modifier:'footer',
									icons:icons,
									name1:'vk',
									name2:'github',
									name3:'in'
									})
			+e.bottom-row
				+e.P.text Я веб-разработчик из Минска. Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
				+copyright
