.reviews
	position relative
	max-width rem(1800px)
	width 100%
	min-height rem(1140px)
	margin 0 auto
	background url(../images/reviews-bg-1800.jpg)
	background-position 100% 40%
	text-align center
	&:before
		position absolute
		content ''
		width 498px
		height 175px
		left calc(50% - 249px)
		top 20px
		background url(../images/about_header.svg) no-repeat
		opacity .06
	&__inner
		padding-top 60px
		@media mqTablet
			padding-top 50px
			padding-left 20px
	&__title
		max-width rem(400px)
		margin-bottom rem(110px)
		color $c_grey-hover
		font-family $h-font
		font-size 3.938rem
		font-weight 400
		line-height 4.125rem
		text-align center
		@media mqTablet
			font-size 3.63rem
			line-height 3.25rem
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		max-width rem(780px)
		margin 0 auto
		margin-bottom 50px
		text-align initial
	&__item
		width rem(380px)
		margin-right 20px
		&:last-child
			margin-right 0
	&__review-text
		margin-bottom 18px
		color $c_grey
		font-family $base-font
		font-size 1rem
		font-weight 400
		line-height 1.625rem
	&__img-wrapper
		border-radus 50%
		overflow hidden
	&__review-author
		display -webkit-flex
		display -ms-flex
		display flex
	&__author-name
		padding-top 16px
		padding-left 20px
		p
			color $c_green
			font-family $base-font
			font-size 1rem
			line-height 1.5rem
			font-weight 700
			span
				font-weight 400
