.promo
	display -webkit-flex
	display -ms-flex
	display flex
	flex-direction column
	min-height 100vh
	background url(../images/bg-1800.jpg) no-repeat
	background-size 100% 100%
	&__top-row
		display -webkit-flex
		display -ms-flex
		display flex
		padding-right 5.555%
	&__middle-row
		display -webkit-flex
		display -ms-flex
		display flex
		flex 1
		@media mqSmartphone
			padding-left 5px
			padding-right 5px
	&__authorization
		margin-left auto
		margin-top 20px
		padding-left 28px
		padding-right 28px
		font-family $base-font
		font-size 1rem
		font-weight 500
		line-height 2.25rem
		color $c_white
		border 0.063rem solid $c_white
		border-radius 5px
		text-decoration none
		@media mqSmartphone
			min-height 40px
			font-size 0.875rem
			line-height 40px
			margin auto
			margin-top 10px
		&:hover
			color $c_green
			font-weight 500
			border 0.063rem solid $c_white
			background-color $c_white
	&__bottom-row
		text-align center
