.promo
	display -webkit-flex
	display -ms-flex
	display flex
	flex-direction column
	min-height 100vh
	background url(../images/bg-1800.jpg) no-repeat
	background-size cover
	&__top-row
		display -webkit-flex
		display -ms-flex
		display flex
		padding-right 5.555%
	&__middle-row
		display -webkit-flex
		display -ms-flex
		display flex
		flex 1
	&__authorization
		margin-left auto
		margin-top 20px
		padding-top 10px
		padding-bottom 10px
		padding-left 28px
		padding-right 28px
		font-family $base-font
		font-size 1rem
		font-weight 500
		line-height 2.25rem
		color $c_white
		border 0.063rem solid $c_white
		border-radius 5px
		text-decoration none
	&__bottom-row
		text-align center
		p
			color $c_white
			font-family $base-font
			font-size 1rem
			font-weight 300
			line-height 6.313rem
		.heart
			color red
