.promo
	display -webkit-flex
	display -ms-flex
	display flex
	flex-direction column
	min-height 100vh
	background-image url(../images/bg-1800.jpg)
	background-repeat: no-repeat;
	background-size 100% 100%
	&__top-row
		display -webkit-flex
		display -ms-flex
		display flex
		padding-right 5.555%
	&__middle-row
		display -webkit-flex
		display -ms-flex
		display flex
		flex 1
		@media mqSmartphone
			padding-left 5px
			padding-right 5px
	&__authorization
		margin-left auto
		margin-top 20px
		padding-left 28px
		padding-right 28px
		font-family $base-font
		font-size 1rem
		font-weight 500
		line-height 2.25rem
		color $c_white
		border 0.063rem solid $c_white
		border-radius 5px
		text-decoration none
		@media mqSmartphone
			min-height 40px
			font-size 0.875rem
			line-height 40px
			margin auto
			margin-top 10px
		&:hover
			color $c_green
			font-weight 500
			border 0.063rem solid $c_white
			background-color $c_white
	&__bottom-row
		text-align center
.flipper
	position relative
	perspective: 600;
	&__inner
		max-width 23.75rem
		max-height 25.688rem
		position absolute
		top 50%
		height 50%
		transform translate(-50%, -50%)
		transform-style preserve-3d
		transition all 1s ease-in-out
		// &:hover
		// 	transform rotateY(180deg)
	.intro
		backface-visibility hidden
		position absolute
		overflow hidden
	.authorization
		transform rotateY(180deg)
		backface-visibility hidden
