include /blocks/intro/intro
include /blocks/copyright/copyright
mixin promo()
	+b.promo&attributes(attributes)
		+e.top-row
			+e.A.authorization.btn(href='authorization.html') Авторизоваться
		+e.middle-row.container
			+intro
		+e.bottom-row.container
			+copyright
