.socials
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content center
	&_header
		margin-top 25px
		@media mqSmartphone
			margin-top 10px
	&_intro
		margin-bottom 40px
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		margin 0 auto
	&__link
		display -webkit-flex
		display -ms-flex
		display flex
		font-size 0
		width rem(36px)
		height rem(36px)
	&__icon
		margin auto
		fill $c_green
		&:hover
			fill $c_green-hover
	&__item
		margin-right 18px
		&:last-child
			margin-right 0
		&_footer
			display -webkit-flex
			display -ms-flex
			display flex
			justify-content center
			width rem(36px)
			height rem(36px)
			margin-right 10px
			border-radius 50%
			border 0.031rem solid #f9f9f9
			opacity .5
			text-align center
			&:hover
				border none
				opacity 1
				a
					border-radius 50%
					background-color #fff
					& > svg
						fill $c_grey-hover
						opacity 1
			.link
				margin auto
