mixin socials()
	+b.socials&attributes(attributes)
		+e.UL.list
			+e.LI.item
				+e.A.link._vk(href='https://vk.com/id268045389')
		+e.UL.list
			+e.LI.item
				+e.A.link._github(href='https://github.com/stakeout')
		+e.UL.list
			+e.LI.item
				+e.A.link._linkedin(href='')
