mixin skills()
	+b.SECTION.skills&attributes(attributes)
		+e.H2.title.wings Чем я могу быть
			br
			| вам полезен
		+e.inner
			+e.P.description-text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend.
				| Но давайте по порядку.
			+e.SECTION.skill-section
				+e.H3.skill-title Frontend
				+e.UL.list
					+e.LI.item._html5
						img(src='http://placehold.it/110x110')
					+e.LI.item._css
						img(src='http://placehold.it/110x110')
					+e.LI.item._js
						img(src='http://placehold.it/110x110')
			+e.SECTION.skill-section
				+e.H3.skill-title Backend
				+e.UL.list
					+e.LI.item._php
						img(src='http://placehold.it/110x110')
					+e.LI.item._mysql
						img(src='http://placehold.it/110x110')
					+e.LI.item._node-npm
						img(src='http://placehold.it/110x110')
					+e.LI.item._mongo-db
						img(src='http://placehold.it/110x110')
			+e.SECTION.skill-section
				+e.H3.skill-title WorkFlow
				+e.UL.list
					+e.LI.item._git
						img(src='http://placehold.it/110x110')
					+e.LI.item._gulp
						img(src='http://placehold.it/110x110')
					+e.LI.item._bower
						img(src='http://placehold.it/110x110')
