.skills
	display -webkit-flex
	display -ms-flex
	display flex
	flex-direction column
	align-items center
	max-width 50%
	width 100%
	padding-top 12px
	background-color #eeebdf
	@media mqTablet
		max-width initial
		padding-top 40px
	&__title
		max-width rem(330px)
		margin-bottom 27px
		color $c_grey
		font-family $h-font
		font-size 2.188rem
		font-weight 400
		line-height 2.563rem
	&__inner
		padding-left 40px
		padding-right 10px
		@media (max-width: 1470px)
			padding-left 20px
		@media (max-width: 1160px)
			padding-left 10px
		@media mqTablet
			display -webkit-flex
			display -ms-flex
			display flex
			flex-direction column
			justify-content center
			align-items center
	&__description-text
		margin-bottom 48px
		color $c_grey
		font-family $base-font
		font-size 1rem
		font-weight 400
		line-height 1.5rem
		@media mqTablet
			max-width 472px
	&__skill-title
		margin-bottom 14px
		color $c_grey
		font-family $base-font
		font-size 1.75rem
		font-weight 500
		line-height 2rem
		@media mqTablet
			text-align center
	&__skill-section
		margin-bottom 40px
		@media (max-width: 965px)
			margin-bottom 15px
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		@media (max-width: 965px)
			flex-wrap wrap
	&__item
		width 110px
		height 110px
		margin-right 37px
		border-radius 50%
		background-color #ccc
		@media (max-width: 1180px)
			margin-right 10px
		@media (max-width: 1000px)
			margin-right 5px
		@media (max-width: 965px)
			margin-right 20px
			margin-bottom 10px
		&:last-child
			margin-right 0
