mixin skills()
	+b.SECTION.skills&attributes(attributes)
		+e.H2.title.wings.wings_top Чем я могу быть вам полезен
		+e.inner
			+e.P.description-text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend.
				| Но давайте по порядку.
			+e.SECTION.skill-section
				+e.H3.skill-title Frontend
				+e.UL.list
					+e.LI.item._html5
					+e.LI.item._css
					+e.LI.item._js
			+e.SECTION.skill-section
				+e.H3.skill-title Backend
				+e.UL.list
					+e.LI.item._php
					+e.LI.item._mysql
					+e.LI.item._node-npm
					+e.LI.item._mongo-db
			+e.SECTION.skill-section
				+e.H3.skill-title WorkFlow
				+e.UL.list
					+e.LI.item._git
					+e.LI.item._gulp
					+e.LI.item._bower
